# Created by .ignore support plugin (hsz.mobi)
# Eclipse
.DS_Store
.settings/
products/
bin/
gen/
doc/
obj/
.classpath
Thumbs.db
local.properties
*.iml
out/
.idea/
.metadata
/data
/simian-log.xml
.gradle
/build
/captures

/app/build
dynamicgrid/build
pulltorefresh/build