<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapp"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="22"
        tools:overrideLibrary="com.romainpiel.shimmer,com.eftimoff.mylibrary,com.dk.view.patheffect,com.ecloud.pulltozoomview" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" /><!-- check here -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    我把    <uses-feature android:name="android.hardware.camera.flash" />
    <!-- 用于调用 JNI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application android:name=".activity.MyApplication"
        android:label="@string/app_name" android:icon="@drawable/mao"
        android:hardwareAccelerated="false"
        tools:replace="android:icon"
        android:allowBackup="true">
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.WeiboSsoAuthActivity"></activity>
        <activity android:name=".activity.DrawPathActivity"></activity>
        <activity android:name=".activity.PictureTestActivity"></activity>
        <activity android:name=".activity.AnimationActivity"></activity>
        <activity android:name=".activity.XListViewActivity"></activity>
        <activity android:name=".activity.GridPasswardActivity"></activity>
        <activity android:name=".activity.FlowLayoutActivity"></activity>
        <activity android:name=".activity.ViewPagerActivity"></activity>
        <activity android:name=".activity.TopBarActivity"></activity>
        <activity android:name=".activity.AActivity"></activity>
        <activity android:name=".activity.BActivity"></activity>
        <activity android:name=".activity.CActivity"></activity>
        <activity android:name=".activity.ColorChangedCircleActivity"></activity>
        <activity android:name=".activity.ArcMenuActivity"/>
        <activity android:name=".activity.ArcMenu2Activity"/>
        <activity android:name=".activity.DragViewActivity"/>
        <activity android:name=".activity.HSlidListViewActivity"/>
        <activity android:name=".activity.AutoSlidActivity"/>
        <activity android:name=".activity.BigImageActivity"/>
        <activity android:name=".activity.SmallImageActivity"/>
        <activity android:name=".activity.TouchActivity"/>
        <activity android:name=".activity.CustomViewGroupActivity"/>
        <activity android:name=".activity.DinamicLineActivity"/>
        <activity android:name=".activity.RandomImageCodeActivity"/>
        <activity android:name=".activity.MutilAdapterActivity"/>
        <activity android:name=".activity.SectionedDemo"/>
        <activity android:name=".activity.MutilItemListViewActivity"/>
        <activity android:name=".activity.YindaoActivity"/>
        <activity android:name=".activity.AutoCompleteEdittextActivity"/>
        <activity android:name=".activity.XmlTestActivity"/>
        <activity android:name=".activity.BitmapShaderTestActivity"/>
        <activity android:name=".activity.DragGridActivity"/>
        <activity android:name=".activity.MySuraceViewActivity"/>
        <activity android:name=".activity.PullToRefreshTestActivity"/>
        <activity android:name=".activity.DynamicGridTestActivity"/>
        <activity android:name=".activity.PullToRefreshDynamicGridTestActivity"/>
        <activity android:name=".activity.PullToRefreshViewPagerActivity"/>
        <activity android:name=".activity.ImageCopyTestActivity"/>
        <activity android:name=".activity.CustomDynamicGridActivity"/>
        <activity android:name=".activity.EditTextTestActivity"/>
        <activity android:name=".activity.LiziTestActivity"/>
        <activity android:name=".activity.GridViewSwitchColumsActivity"/>
        <activity android:name=".activity.SnowTestActivity"/>
        <activity android:name=".activity.MaskTestActivity"/>
        <activity android:name=".activity.MainActivity2"/>
        <activity android:name=".activity.ScrollerTestActivity"/>
        <activity android:name=".activity.ShimmerTextViewTestActivity"/>
        <activity android:name=".activity.QuXianAnimatorActivity"/>
        <activity android:name=".activity.PathAnimatorActivity"/>
        <activity android:name=".activity.CustomPullToRefreshListViewActivity"/>
        <activity android:name=".activity.CustomSlideDeleteListViewTestActivity"/>
        <activity android:name=".activity.PopupWindowTestActivity"/>
        <activity android:name=".activity.PullToZoomViewTestActivity"/>
        <activity android:name=".activity.CustomPullToRefreshListViewTestAvtivity2"/>
        <activity android:name=".activity.CustomSearchListViewTestActivity"/>
        <activity android:name=".github.pinnedsectionlistview.PinnedSectionListActivity"/>
        <activity android:name=".github.pinnedheaderlistview.PinnedHeaderListViewMainActivity"/>
        <activity android:name=".activity.CustomPinnedHeaderListViewTestActivity"/>
        <activity android:name=".activity.RecyclerViewTestActivity"/>
        <activity android:name=".activity.RecyclerViewGalleryTestActivity"/>
        <activity android:name=".activity.CustomExpandableLayoutTestActivity"/>
        <activity android:name=".activity.SearchAnimTestActivity"/>
        <activity android:name=".activity.NetWorkTestActivity"/>
        <activity android:name=".activity.MutilThreadTestActivity"/>
        <activity android:name=".activity.HandlerTestActivity"/>
        <activity android:name=".activity.ThreadPoolTestActivity"/>
        <activity android:name=".activity.SocketTestActivity"/>
        <activity android:name=".activity.SocketTestActivity2"/>
        <activity android:name=".activity.SingleTaskTestActivity"
            android:taskAffinity="com.example.myapp.activity.singletasktestactivity">
        </activity>
        <activity android:name=".activity.SingleTaskActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.example.myapp.activity.singletaskactivity">
                <intent-filter>
                    <action android:name="com.example.myapp.activity.singletaskactivity"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
        </activity>
        <activity android:name=".chatdemo.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".chatdemo.RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".chatdemo.FriendListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.ImageTextShowTestActivity"/>
        <activity android:name=".activity.CameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="umengchatdemo.UMLoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <!--github pullzoomviwq-->
        <activity android:name=".github.pullzoomview.demo.PullZoomViewMainActivity"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".github.pullzoomview.demo.PullToZoomScrollActivity"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".github.pullzoomview.demo.PullToZoomListActivity"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".github.pullzoomview.demo.recyclerview.PullToZoomRecyclerActivity"
            android:theme="@style/Theme.AppCompat"/>

        <!--github parallax header viewpager-->
        <activity android:name=".github.parallaxheaderviewpager.demo.ParallaxHeaderViewPagerMainActivity"
            android:theme="@style/Theme.AppCompat"/>


        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
                  android:configChanges="keyboardHidden|orientation"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="false" >
        </activity>



        <service android:name=".chatdemo.SocketService"/>


        <!--友盟相关-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_appkey" >
        </meta-data>
        <meta-data
            android:name="APP_KEY"
            android:value="@string/app_key" >
        </meta-data>
    </application>
</manifest>
